body {
background-color: rgb(73, 76, 240);
color: white;
font-family: "Jazz LET", fantasy, sans-serif;
margin: 0px;
}

header {
border: groove 10px rgb(182, 200, 224);
padding: 25px;
font-size: 32px;
color: rgb(201, 205, 228);
}

.chamada-texto {
margin-right: 5%;
}

section {
background: rgb(201, 205, 228);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}